<div class="beginning">

<h1>はじめに</h1>

「Perlテキスト処理プログラミング入門」を手に取ってくださった方、ありがとうございます。この書籍は、Perlプログラミング言語を使ってテキスト処理の基本と実践をマスターするためのものです。

テキスト処理というのは文章の中の文字を検索したり置換したりする処理のことです。ファイルの中に書かれたこの文字を検索したい。この文字を置換したい。ファイルを読み込んで、別のファイルに書き出したい。Perlを使うとテキスト処理が簡単に書けるので、その方法をこの書籍にまとめました。

テキスト処理は、業務でも頻繁に行う処理の一つです。テキスト処理が書けるようになると、プログラミングで作業を自動化して、業務を効率化できます。テキスト処理の応用として、Webシステム開発にチャレンジすることもできます。

PerlはUnixと呼ばれるOS上で誕生したプログラミング言語です。Perlの創造者はラリー・ウォールです。1987年にPerl 1.0が誕生しました。2020年のPerlの最新バージョンは、Perl 5.32です。PerlはUnix/Linuxのほとんどの環境にインストールされており、同じPerlプログラムがどの環境でも実行できます。

Perlは、WindowsやMacなどの幅広いOSにも移植されており、利用できます。この書籍では、Windows, Mac, Unix/LinuxでPerlを利用する方法を解説します。

この書籍ではPerl 5の内容を扱います。PerlがUTF-8に対応し、日本語が正しく扱えるようになったPerl 5.8.7で動くソースコードで記述します。

Perlテキスト処理プログラミングでは、日本語を扱う場合に覚えておく約束事のようなものがあるのですが、丁寧に解説します。あるディレクトリの中のすべてのファイルを対象に文字列を検索・置換する方法など、よく使われるテクニックについても解説します。

表紙のカエルのキャラクターの名前は「モジガエル」です。「文字を換えるぜ、モジガエル。」のキャラクターと一緒に学んでいきましょう。

<div style="text-align:right;margin-top:30px;">木本裕紀</div>
</div>
