<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"5." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"5." counter(count1) "." counter(count2) " ";
  }
</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="100" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180820/20180820075726.png">  </div>
  <div class="chapter_description_right">
    HTMLをサンプルに正規表現の検索・置換を実践してみましょう。
  </div>
</div>

<h2>JSONデータを入出力するサンプル</h2>

JSONデータを入出力するサンプルプログラムを書いてみます。JSONは、多次元データ構造を表現できるWebで使われるデファクトスタンダードなデータ形式です。

<h3>複数の書籍の情報を表現するJSONデータ</h3>

JSONはUTF-8のテキストとして表現されます。前の章で熱方、書籍のCSVデータは次のようなものでしたが、これをJSONとして表現してみましょう。

<pre>
ID,書名,著者名,価格,発売日
1,Perlテキスト処理プログラミング入門,木本裕紀,2900,2021-01-03
2,Web開発をやるぜPerl,木本裕紀,2000,2021-01-03
3,データベース入門,田中太郎,1900,2019-03-06
</pre>

JSONとして表現したものが以下です。項目名は、英語にして、連想配列の配列というデータ構造で表現しています。

<pre>
[
  {
    "id" : 1,
    "name" : "Perlテキスト処理プログラミング入門",
    "author_name" : "木本裕紀",
    "price" : 2900,
    "issued_date" : "2021-01-03"
  },
  {
    "id" : 2,
    "name" : "Web開発をやるぜPerl",
    "author_name" : "木本裕紀",
    "price" : 2000,
    "issued_date" : "2021-01-03"
  },
  {
    "id" : 3,
    "name" : "データベース入門",
    "author_name" : "田中太郎",
    "price" : 1900,
    "issued_date" : "2019-03-06"
  }
]
</pre>

<h3>JSONデータフォーマットの解説</h3>

JSONのデータフォーマットについて、簡単に解説しておきます。

<h4>数値</h4>

数値は「1」や「1.5」のように表現します。

<pre>
1

1.5
</pre>

<h4>文字列</h4>

文字列はダブルクォート「"」で囲んで表現します。

<pre>
"name"

"Perlテキスト処理プログラミング入門"
</pre>

  {"id" : 1, "name" : "モジガエル"},

配列は「[」と「]」で囲んで「,」で複数の要素を並べます。

<pre>
[3, 5, 7]

["apple", "orange", "banana"]
</pre>

空白や改行は、見やすくするために、自由に使うことができます。

<pre>
[
  3,
  5,
  7
]
</pre>

連想配列を要素にすることもできます。

<pre>
[
  {"id" : 1, "name" : "モジガエル"},
  {"id" : 2, "name" : "サーバー太郎"}
]
</pre>

<h4>連想配列</h4>

連想配列は「{」と「}」で囲んで、キーと値のペアを「,」で複数並べます。キーと値は「:」で繋げます。キーは、文字列である必要があります。Perlのハッシュに該当します。

<pre>
{"id" : 1, "name" : "モジガエル"}
</pre>

もう一度、JSONデータ構造を見てみましょう。配列の要素として、連想配列を持っているというところをよく見てみます。

<pre>
[
  {
    "id" : 1,
    "name" : "Perlテキスト処理プログラミング入門",
    "author_name" : "木本裕紀",
    "price" : 2900,
    "issued_date" : "2021-01-03"
  },
  {
    "id" : 2,
    "name" : "Web開発をやるぜPerl",
    "author_name" : "木本裕紀",
    "price" : 2000,
    "issued_date" : "2021-01-03"
  },
  {
    "id" : 3,
    "name" : "データベース入門",
    "author_name" : "田中太郎",
    "price" : 1900,
    "issued_date" : "2019-03-06"
  }
]
</pre>

わかりやすくするために、疑似的に表現してみましょう。配列の要素が、連想配列になっているという関係性がわかればOKです。

<pre>
[
  A,
  B,
  C
]

A = {
    "id" : 1,
    "name" : "Perlテキスト処理プログラミング入門",
    "author_name" : "木本裕紀",
    "price" : 2900,
    "issued_date" : "2021-01-03"
  }

B = {
    "id" : 2,
    "name" : "Web開発をやるぜPerl",
    "author_name" : "木本裕紀",
    "price" : 2000,
    "issued_date" : "2021-01-03"
  }

C = {
    "id" : 3,
    "name" : "データベース入門",
    "author_name" : "田中太郎",
    "price" : 1900,
    "issued_date" : "2019-03-06"
  }
</pre>

<h3>JSONデータを読み込んで、データを加工して、出力する</h3>

JSONデータを読み込んで、データを加工して、出力するサンプルコードを書いてみます。

価格のデータに10%の消費税を追加して、保存するという処理にしてみます。

JSONデータを「edit_json_add_price_zei_input.json」という名前で保存します。文字コードはUTF-8にしてください。

<pre>
[
  {
    "id" : 1,
    "name" : "Perlテキスト処理プログラミング入門",
    "author_name" : "木本裕紀",
    "price" : 2900,
    "issued_date" : "2021-01-03"
  },
  {
    "id" : 2,
    "name" : "Web開発をやるぜPerl",
    "author_name" : "木本裕紀",
    "price" : 2000,
    "issued_date" : "2021-01-03"
  },
  {
    "id" : 3,
    "name" : "データベース入門",
    "author_name" : "田中太郎",
    "price" : 1900,
    "issued_date" : "2019-03-06"
  }
]
</pre>

次にJSONを読み込むプログラム「edit_json_add_price_zei.pl」を作成します。

<pre>
use strict;
use warnings;
use utf8;

# JSON::PPを読み込み、encode_json関数とdecode_json関数をインポートする
use JSON::PP 'encode_json', 'decode_json';

# ファイル全部を読み込む
my $in_json;
{
  local $/ = undef;
  $in_json = <>;
}

# deocde_json関数でJSONデータをPerlの内部文字列を含むデータ構造に変換
my $books = decode_json $in_json;

for my $book (@$books) {
  # 書籍の情報を取得
  my $id = $book->{id};
  my $name = $book->{name};
  my $price = $book->{price};
  my $issued_date = $book->{issued_date};
  
  # 税込み価格
  my $price_zeikomi = $price * 1.1;
  
  # 税込み価格で書籍の情報を更新
  
  $book->{price} = $price_zeikomi
}

# encode_json関数でPerlの内部文字列を含むデータ構造をJSONデータに変換
my $out_json = encode_json $books;

# JSONを出力
print $out_json;
</pre>

次のように実行してみましょう。

<pre>
perl edit_json_add_price_zei.pl edit_json_add_price_zei_input.json > edit_json_add_price_zei_output.json
</pre>

出力結果です。出力データには、空白文字と改行が含まれていないので、見づらいですが、価格が税込み価格に更新されているのを確認できます。

<pre>
[{"name":"Perlテキスト処理プログラミング入門","author_name":"木本裕紀","price":3190,"issued_date":"2021-01-03","id":1},{"id":2,"issued_date":"2021-01-03","name":"Web開発をやるぜPerl","author_name":"木本裕紀","price":2200},{"id":3,"issued_date":"2019-03-06","author_name":"田中太郎","name":"データベース入門","price":2090}]
</pre>

<h2>JSONを読み込むソースコードの解説</h2>

JSONを読み込むソースコードを解説していきます。

<h3>JSON::PPモジュールの読み込みと関数のインポート</h3>

まず、JSONデータを扱うために、JSON::PPモジュールを読み込む必要があります。JSON::PPモジュールは、Perlのコアモジュールです。Perl 5.14からコアモジュールになりました。

モジュールとは、特定の機能をまとめたものと考えてください。use文を使って、モジュールを読み込むことができます。

<pre>
# JSON::PPを読み込み、encode_json関数とdecode_json関数をインポートする
use JSON::PP 'encode_json', 'decode_json';
</pre>

モジュールの読み込むときに、必要な関数のインポートも同時に行っています。関数のインポートを行うと、その関数が使えるようになります。

Perlのデータ構造からJSONデータを生成するためにencode_json関数をインポートしています。

JSONデータをPerlのデータ構造にするためにdecode_json関数をインポートしています。

<h3>JSONデータをファイルから読み込みPerlのデータ構造に変換する</h3>

次に、JSONデータをファイルから読み込みPerlのデータ構造に変換します。

<pre>
# ファイル全部を読み込む
my $in_json;
{
  local $/ = undef;
  $in_json = <>;
}
</pre>

ファイルの読み込みは、以前に解説したものと同じです。一つ注意してほしいのはEncodeモジュールのdecode関数で、読み込んだデータをPerlの内部文字列に変換していないところです。これは、decode_json関数が、JSONデータをPerlの内部文字列を含むデータ構造に変換してくれるので、書く必要がないためです。

次に、deocde_json関数でJSONデータをPerlの内部文字列を含むデータ構造に変換します。

<pre>
# deocde_json関数でJSONデータをPerlの内部文字列を含むデータ構造に変換
my $books = decode_json $in_json;
</pre>

$booksは、以下のようなPerlのデータ構造になっています。

<pre>
[
  {
    "id" => 1,
    "name" => "Perlテキスト処理プログラミング入門",
    "author_name" => "木本裕紀",
    "price" => 2900,
    "issued_date" => "2021-01-03"
  },
  {
    "id" => 2,
    "name" => "Web開発をやるぜPerl",
    "author_name" => "木本裕紀",
    "price" => 2000,
    "issued_date" => "2021-01-03"
  },
  {
    "id" => 3,
    "name" => "データベース入門",
    "author_name" => "田中太郎",
    "price" => 1900,
    "issued_date" => "2019-03-06"
  }
]
</pre>

Perlでは、これを理解するのが少し大変です。これは、ハッシュの配列と呼ばれるデータ構造ですが、Perlでは、多次元データ構造を作成するためには、リファレンスと呼ばれる機能を理解する必要があります。少し回り道をして、リファレンスについて詳しく解説します。

</div>
