<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"3." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"3." counter(count1) "." counter(count2) " ";
  }
</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="100" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180820/20180820075726.png">  </div>
  <div class="chapter_description_right">
    Perlを使った正規表現による検索と置換をサンプルを使って解説します。
  </div>
</div>

<h2>Perlを使った正規表現による検索と置換</h2>

第２章で学習したCSVデータに発売日などの情報を追加したデータを使って、正規表現を使って検索置換していきます。

<h3>検索を行う正規表現の基礎</h3>

次のようなCSVデータから、正規表現を使って、必要な行を取り出してみます。

<pre>
ID,書名,著者名,価格,発売日
1,Perlテキスト処理プログラミング入門,木本裕紀,2900,2021-01-03
2,Web開発をやるぜPerl,木本裕紀,2000,2021-01-03
3,データベース入門,田中太郎,1900,2019-03-06
4,正規表現テクニック,田中太郎,3000,2019-01-08
</pre>

これを「book_data.csv」として保存してください。文字コードはUTF-8で保存してください。

まず、第２章で学習した、プログラムを少し改造して、CSVファイルを入力して、CSVデータを出力するというプログラムを書きます。

<pre>
# raw.pl
use strict;
use warnings;
use utf8;
use Encode 'encode', 'decode';

# DATAセクションから行を一行ずつ読み込む
while (my $line = <>) {

  # 一行目は読み飛ばす($.はファイルの行番号。nextで次のループの先頭へ)
  if ($. == 1) { next }

  # PerlのUTF-8を内部文字列へデコード
  $line = decode('UTF-8', $line);
  
  # 改行を削除
  chomp $line;

  # カンマで分割して各変数へ
  my ($id, $name, $author, $price, $issued_date) = split(/,/, $line);
  
  # 出力行を作成
  my $output_line = join(',', $id, $name, $author, $price, $issued_date);
  
  # Perlの内部文字列をUTF-8にエンコードして出力
  print encode('UTF-8', $output_line) . "\n";
}
</pre>

次のように入力ファイルと出力ファイルを指定して実行します。

<pre>
perl raw.pl book_data.csv > raw_output.csv
</pre>

ヘッダを除いて、入力されたデータとまったく同じデータが出力されていれば、OKです。

<h3>正規表現を使った検索</h3>

正規表現を使った検索を実践していきましょう。

<h4>Perlがタイトルに含まれている</h4>

Perlがタイトルに含まれている行だけを出力してみましょう。

以下の正規表現を使います。

<pre>
if ($name =~ /Perl/) {
  # マッチした場合の処理
}
</pre>

以下がプログラムの全体です。マッチした場合のみ行を出力します。

<pre>
# contain_perl.pl
use strict;
use warnings;
use utf8;
use Encode 'encode', 'decode';

# DATAセクションから行を一行ずつ読み込む
while (my $line = <>) {

  # 一行目は読み飛ばす($.はファイルの行番号。nextで次のループの先頭へ)
  if ($. == 1) { next }

  # PerlのUTF-8を内部文字列へデコード
  $line = decode('UTF-8', $line);
  
  # 改行を削除
  chomp $line;

  # カンマで分割して各変数へ
  my ($id, $name, $author, $price, $issued_date) = split(/,/, $line);
  
  if ($name =~ /Perl/) {
    # 出力行を作成
    my $output_line = join(',', $id, $name, $author, $price, $issued_date);
    
    # Perlの内部文字列をUTF-8にエンコードして出力
    print encode('UTF-8', $output_line) . "\n";
  }
}
</pre>

出力結果では、タイトルに名前を含む行だけが出力されます。

<pre>
1,Perlテキスト処理プログラミング入門,木本裕紀,2900,2021-01-03
2,Web開発をPerlでやる本,木本裕紀,2000,2021-01-03
</pre>
