<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"4." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"4." counter(count1) "." counter(count2) " ";
  }
</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="100" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180820/20180820075726.png">  </div>
  <div class="chapter_description_right">
    HTMLをサンプルに正規表現の検索・置換を実践してみましょう。
  </div>
</div>

<h2>正規表現の検索・置換をHTMLで実践</h2>

<h3>見出しのテキストを取得する</h3>

見出し「h1」のテキストを正規表現で取得してみましょう。

<pre>
<h1>Linuxサーバー管理入門</h1>
</pre>

正規表現で見出し「h1」のテキストである「UNIX/Linuxサーバー管理入門」を取得してみます。ソースコードはUTF-8で保存してください。

<pre>
use strict;
use warnings;
use utf8;
use Encode 'encode';

my $html = '<h1>Linuxサーバー管理入門</h1>';

my $head_text;
if ($html =~ /<h1>(.+)<\/h1>/) {
  $head_text = $1;
}
print encode('UTF-8', "$head_text\n");
</pre>

出力結果です。Windowsの場合はencode関数の「UTF-8」の部分を「cp932」にしてみてください。この後のサンプルも同じです。

<pre>
Linuxサーバー管理入門
</pre>

<h3>見出しのテキストを取得する - 最短マッチ</h3>

先ほどの見出しを取得するスクリプト、HTMLが次のようになっていたらどうなるんでしょうか?

<pre>
<h1>Linuxサーバー管理入門</h1>まちがえ閉じタグ</h1>
</pre>

先ほどのスクリプトを実行すると、以下の出力になります。

<pre>
Linuxサーバー管理入門</h1>まちがえ閉じタグ
</pre>

あれ、後ろの方の</h1>の直前までが取り出されてしまいました。

「*」や「+」などのPerlの正規表現の量指定子は、デフォルトで最も長い位置までマッチします。

これを、最も短い位置でマッチさせるようにするには、正規表現を以下のように書き変えます。量指定子の後ろに「?」をつけるのがポイントです。

<pre>
$html =~ /<h1>(.+?)<\/h1>
</pre>

では、プログラムを書き直してみましょう。

<pre>
use strict;
use warnings;
use utf8;
use Encode 'encode';

my $html = '<h1>Linuxサーバー管理入門</h1>まちがえ閉じタグ</h1>';

my $head_text;
if ($html =~ /<h1>(.+?)<\/h1>/) {
  $head_text = $1;
}
print encode('UTF-8', "$head_text\n");
</pre>

今度は正しく欲しい部分を取得することができました。

<pre>
Linuxサーバー管理入門
</pre>

<h3>HTMLからタグを削除する</h3>

正規表現で置換の構文を使って、HTMLからタグを削除してテキストの部分だけを取り出してみましょう。

<pre>
今日は<b>プログラミング</b>を学んで充実した一日。今度は<span style="font-size:18px">Webシステム開発構築</span>を行いたいです。
</pre>

「<b>」「</b>」「<span style="font-size:18px">」「</span>」を取り除くことができる正規表現を考えます。

プログラムを書きます。

<pre>
use strict;
use warnings;
use utf8;
use Encode 'encode';

my $html = '今日は<b>プログラミング</b>を学んで充実した一日。今度は<span style="font-size:18px">Webシステム開発構築</span>を行いたいです。';

# 元のHTMLを残しておくために文字列を置換前にコピーする
my $text = $html;

# <と>で囲まれている部分をすべて削除する
$text =~ s/<.+?>//g;

print encode('UTF-8', "$text\n");
</pre>

正規表現の解説です。「<」がきて、改行以外のなんでもよい文字が1文字以上で最短マッチ「.+?」、「>」がくる。gオプションは、すべて置換を意味しています。

出力結果です。タグが取り除かれています。

<pre>
今日はプログラミングを学んで充実した一日。今度はWebシステム開発構築を行いたいです。
</pre>
