<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"1." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"1." counter(count1) "." counter(count2) " ";
  }

</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="100" src="https://cdn-ak.f.st-hatena.com/images/fotolife/p/perlcodesample/20180820/20180820075726.png">  </div>
  <div class="chapter_description_right">
    Perlテキスト処理プログラミングって、最初は何から始めたらいいのかな。最初はPerlのインストールから。この章では、Perlのインストール方法を、Windows、Mac、Unix/Linuxで解説していくよ。
  </div>
</div>

<h2>WindowsへのPerlのインストール</h2>

WindowsにPerlをインストールしましょう。Perlテキスト処理入門では、Strawberry Perl(ストロベリーパール)と呼ばれるWindows用のPerlディストリビュートをダウンロードして、インストールします。

<h3>Strawberry PerlのWebサイト</h3>

Strawberry Perl(ストロベリーパール)と呼ばれるWindows用のPerlディストリビューションのサイトに、ブラウザを使ってアクセスしてください。

<div>
  <img src="images/chapter1/strawberry_perl.png" width="400">
</div>

<b>Strawberry Perl for Windows</b>

http://strawberryperl.com

<h3>Strawberry Perlの特徴</h3>

Strawberry Perlの特徴です。

<ul>
  <li>
    Unix/Linux環境のPerlと近い感覚で使うことができる
  </li>
  <li>
    gccやmakeなどのPerlに必要な開発環境がデフォルトでインストールされており、CPANモジュールがインストール可能
  </li>
  <li>
    古いバージョンのPerlも公開されている
  </li>
</ul>

PerlはUnix生まれのプログラミング言語なので、Windowsでも、なるべくUnix/LinuxでPerlを使う感覚でPerlを使えると便利です。

gccやmakeといったPerlのモジュールをインストールするための開発環境がデフォルトでインストールされているので、Perlのライブラリの保管庫であるCPANからPerlモジュールをインストールできます。

Strawberry Perlでは、古いバージョンのPerlも公開されていて利用できます。

<h3>Strawberry Perlのダウンロード</h3>

Strawberry Perlをダウンロードして、インストールしてみましょう。2020年の最新のPerlは、Perl 5.32です。

以下のリンクから上側の<b>strawberry-perl-5.32.0.1-64bit.msi</b>をクリックして、Strawberry Perlをデスクトップにダウンロードしましょう。

<div>
  <img src="images/chapter1/strawberry_perl_download.png">
</div>

msiという拡張子は、Windowsのデフォルトのインストーラーです。末尾のバージョン番号が少し違うこともあるかもしれませんが、気にしないで大丈夫です。

2020年では、ほとんどの場合は64bit版のPerlで大丈夫だと思いますが、Windows OSが32bitである場合は、32bitの方のStrawberry Perlをダウンロードしてください。

<h3>Strawberry Perlのインストール</h3>

ダウンロードしたStrawberry Perlをダブルクリックします。インストーラーが起動します。空き容量の計算に少し時間がかかる場合がありますが、そのまま待ちましょう。インストーラーが起動しますので「Next」を押して進みます。

途中で「I accept the terms in the License Agreement」というチェックボックスがでてくるので、チェックをいれて「Next」を押します。

さらに「Next」を押して進んでいって、最後に「Install」をクリックするとStrawberry Perlのインストールが始まります。

ここで「この不明な発行元からのアプリがデバイスに変更を加えることを許可しますか?」というダイアログが表示されると思いますが、「はい」をクリックしましょう。

5分くらい時間がかかるので待ちましょう。

プログレスバーが満タンになると、Strawberry Perlのインストールが完了します。

「Finish」を押してダイアログを閉じましょう。Readmeが表示されますが、これも閉じて大丈夫です。

<h3>Perlがインストールされていることの確認</h3>

インストールが完了したら実際にStrawberry Perlがインストールできているか確認してみましょう。

コマンドプロンプトというツールをを実行してPerlのバージョンを表示してみます。

コマンドプロンプトは画面左下のウインドウズの「スタートメニュー」→「アプリの一覧」→「Windowsシステムツール」→「コマンドプロンプト」から実行できます。

黒い画面がでてくるので、以下の文字をキーボードからうち「Enter」を押してみてください。

<pre>
perl -v
</pre>

次のようにバージョン情報が表示されればインストールは成功しています。

<pre>
This is perl 5, version 32, subversion 0 (v5.32.0) built for MSWin32-x64-multi-thread
</pre>

これでStrawberry Perlのインストールは完了です。

<h3>Windowsへのその他のPerlのインストール方法</h3>

Windowsへのその他のPerlのインストール方法を簡単に紹介しておきます。

<h4>ActivePerl</h4>

Windows用のPerlディストリビューションとしてよく知られたActivePerlをインストールしてPerlを実行することができます。

<h4>msys2</h4>

msys2と呼ばれるUnix風の環境をインストールして、Perlを実行できます。Perlのサーバーアプリケーションを動かすことができます。Unix風の疑似環境なので、シンボリックリンクなど本物のUnix/Linuxと一部互換性がない部分もあります。

<h4>WSL2</h4>

WSL2と呼ばれるLinux環境をWindows上で有効にして、Perlを実行できます。Perlのサーバーアプリケーションを不具合なく動かすことができます。これは、Windows 10の機能です。

<h2>コマンドプロンプトでPerlを実行する</h2>

WindowsでPerlを実行するためにはコマンドプロンプトと呼ばれるものを利用します。perlコマンドを使ってPerlスクリプトを実行できるようになります。

Perlのプログラミングは、コマンドと呼ばれるテキストを入力して実行します。まず最初にWindowsにおけるコマンド実行ツールであるコマンドプロンプトについて解説したいと思います。

<h3>コマンドプロンプトとは</h3>

コマンドプロンプトとは、Windows環境におけるCUIを用いたプログラムの実行環境です。CUIとは、Character-based User Interfaceの略で、テキストを入力して、プログラムを実行するインターフェースのことです。Windows上で、Perlプログラミングをするときは、コマンドプロンプトを用いて、Perlを実行することになります。

<h3>コマンドプロンプトを実行するには</h3>

「スタート」 - 「すべてのプログラム」 - 「アクセサリ」 - 「コマンドプロンプト」で実行できます。コマンドプロンプトのアイコンを右クリックでドラッグして、デスクトップに、ショートカットを作っておくと便利です。

<h3>最初に覚えておきたいコマンド</h3>

>|
dir
cd ディレクトリ名
<table>
|<
</table>

dir で、カレントディレクトリの内容を表示できます。cd ディレクトリ名 で カレントディレクトリを変更することができます。ひとつ上のディレクトリに移動するには、 cd .. とします。

<h3>Perlを実行する</h3>

<pre>
perl sample.pl arg1 arg2
</pre>

perlのスクリプトの名前は、.pl という拡張子をつけて保存します。引数を渡したいときは、空白で区切って、引数を続けます。

<h3>空白のある引数を渡す</h3>

<pre>
perl sample.pl "a i u"
</pre>

引数に空白が含まれている場合は、ダブルクオーテーションで囲みます。

<h3>ドライブを変更する</h3>

<pre>
c:
d:
</pre>

c: で、C ドライブに、d: で、D ドライブにドライブを変更することができます。

<h3>コマンド履歴を参照する</h3>

<pre>
↑
↓
</pre>

上下キーでコマンド履歴をたどることができます。

<h3>ファイル名を補完する</h3>

<pre>
Ctrl + f
</pre>

ファイル名を途中まで入力して、Ctrl + f で、ファイル名を補完することができます。以下で記述するコマンドプロンプトの設定の変更が必要になります。

<h3>コマンドプロンプトの便利な設定</h3>

<b>コマンドプロンプトの設定の変更方法</b>

ショートカットをデスクトップに作ったら、右クリック「プロパティ」で、設定を変更できます。

<b>作業フォルダの設定とファイル名補完の設定</b>

「ショートカット」タブから作業フォルダの設定とファイル名補完の設定ができます。作業フォルダとは、ショートカットを起動したときの、カレントディレクトリのことです。

ファイル名補完の設定をするには、「リンク先」とかかれた、コマンドプロンプトのパスの最後に、 :/f on と追加します。: の前には、空白が必要です。これで、 「 8. ファイル名を補完 」のコマンドが有効になります。

例 %SystemRoot%\system32\cmd.exe :/f on

<b>簡易編集モードの設定</b>

「オプション」タブから、簡易編集モードの設定ができます。チェックを入れると、右クリックで、コピー＆ペーストができるようになります。

<b>フォントサイズの設定</b>

「フォント」タブから、フォントサイズを設定できます。少し小さめにしたほうが見やすいと思います。

<b>画面バッファサイズの設定</b>

「レイアウト」タブから、画面バッファサイズの設定ができます。「高さ」の項目を最大値にしておきます。

画面バッファサイズ「高さ」を大きくしておくと、画面がスクロールしても、設定した行数分だけ、出力を保存しておくことができます。

<h2>macOSへのPerlのインストール</h2>

macOSには、デフォルトでPerlがインストールされています。ですので、Perlをインストールをしなくても、すぐに使い始めることができます。

Perlを実行するには、アプリケーション/ユーティリティから、ターミナルを起動しましょう。ターミナルは、コマンドが実行できるCUI端末です。

以下のコマンドでPerlがインストールされているか確認してみましょう。

<pre>
perl -v
</pre>

もしシステムにデフォルトでインストールされるPerlではなく、ユーザー環境にPerlをインストールしたい場合は、perlbrewやplenvというツールがあるので、覚えておきましょう。

ユーザー環境にPerlがインストールできるとシステム環境を汚さなくっても済むのでお勧めの方法でもあります。

<h2>Unix/LinuxへのPerlのインストール</h2>

ほとんどのUnix/Linuxには、Perlがインストールされています。ですので、ほとんどの場合、Perlのインストールをしなくても、すぐに利用することができます。

以下のコマンドでPerlがインストールされているか確認してみましょう。

<pre>
perl -v
</pre>

ワンライナーを利用する場合に、Perlは、とても便利です。

Webシステム開発などを行う場合で、ユーザー環境にPerlをインストールしたい場合は、perlbrewやplenvというツールがあるので、覚えておきましょう。

<h2>覚えておきたいシェルコマンド</h2>

macOSやUnix/Linuxでは、CUI端末で作業をしますが、コマンドを実行できるのはシェルという機能があるからです。

