<div style="height:background:red;" class="chapter_heading">
  <div style="padding-top:200px;font-size:40px;text-align:center;font-weight:bold;letter-spacing:5px;font-weight:bold;">
    第１２章
  </div>
  <div style="padding-top:50px;font-size:40px;font-weight:bold;text-align:center;letter-spacing:5px;font-weight:bold;line-height:1.4;">
    Perlテキスト処理演習
  </div>
</div>

<h2>Perlテキスト処理プログラミング入門</h2>

Perlテキスト処理プログラミング入門へようこそ。aaa

<h3>Perlテキスト処理プログラミング入門とは</h3>

  <li>
    <div>目標にできること</div>
    <ul>
      <li>C言語を覚えて組み込み向け開発者を目指す</li>
      <li>Webプログラミングを覚えてWebシステム開発者を目指す</li>
      <li>Unix/Linuxを覚えてUnix/Linuxサーバー管理者を目指す</li>
      <li>ビジネスデータ分析ができる社内SEを目指す</li>
    </ul>
  </li>
