<h2>Perlテキスト処理のエッセンス</h2>

<table>
  <tr><td><a href="top.html">見開き</a></td><td><a href="top.pdf">見開きPDF</a></td></tr>
  <tr><td><a href="beginning.html">はじめに</a></td><td><a href="beginning.pdf">はじめにPDF</a></td></tr>
  <tr><td><a href="toc.html">目次</a></td><td><a href="toc.pdf">目次PDF</a></td></tr>
  <tr><td><a href="chapter01_title.html">第１章 扉</a><br><a href="chapter01.html">第１章 Perlのインストール</a></td><td><a href="chapter01_title.pdf">扉PDF</a><br><a href="chapter01.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter02_title.html">第２章 扉</a><br><a href="chapter02.html">第２章 日本語CSVファイル処理</a></td><td><a href="chapter02_title.pdf">扉PDF</a><br><a href="chapter02.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter03_title.html">第３章 扉</a><br><a href="chapter03.html">第３章 正規表現でCSVファイルから必要な行を取り出す</a></td><td><a href="chapter03_title.pdf">扉PDF</a><br><a href="chapter03.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter03_title.html">第４章 扉</a><br><a href="chapter04.html">第４章 正規表現の検索・置換をHTMLで実践</a></td><td><a href="chapter04_title.pdf">扉PDF</a><br><a href="chapter04.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter04_title.html">第５章 扉</a><br><a href="chapter05.html">第５章 多次元データ構造とJSONデータ入出力</a></td><td><a href="chapter05_title.pdf">扉PDF</a><br><a href="chapter05.pdf">本文PDF</a> </td></tr>
  <tr><td></td><td><a href="chapters.pdf">本文全体のPDF</a></td></tr>
  <tr><td></td><td><a href="book.pdf">書籍全体のPDF</a></td></tr>
</table>

<h3>書籍情報</h3>

ISBN

978-4-910594-00-2

9784910594002

Perl総合研究所

Perlテキスト処理のエッセンス

2021年6月1日発売

書籍 1490円

電子書籍 1117円(25%off)


<h3>印刷</h3>

本文ページ数は、120pになった。

ラクスルは、124ページが最大。これに合わせないとデザインが大変だ...。表紙の4ページを含んだページ数なので、本文の最大は、120p。

表紙は、厚手(135KG)では、まだ破れそうで表紙が弱い。アートポスト最厚手で良い感じ。

表紙 アートポスト最厚手(220kg) 646円(90円+)

<a href="https://raksul.com/booklet/a5musen/ondemand_left-bind_124page_cover-art-post_cover-superultrathick_cover-4c4c_cover-pp-none_matte_standard_1c1c/">ラクスル料金表(アートポスト最厚手)</a>

本文のPDFと開いた表紙のPDFを入稿。データに関するコメントに「表紙の裏、裏表紙の裏に白紙を挿入してください」と書く必要がある。

本文マット紙 両面モノクロ

30部 19,393円 単価 646円

<h3>Kindle</h3>

PDFをKindleで販売できるようにするにはKindle Comic Creatorを使う

<a href="https://www.amazon.co.jp/gp/feature.html?ie=UTF8&docId=3077699036">Kindle Comic Creator</a>

本の言語 日本語

Kindleパネルビュー いいえ

本の組方向 アンロック

本のページ進行方向 左から右へ

DRMは

<h3>wkhtmltopdf</h3>

wkhtmltopdf 0.12.3 (with patched qt)

一番上のmargin-topは効かない。

wkhtmltopdfはインストールが難し

SSLのエラーを回避するには以下が必要

<pre>
sudo apt install libssl1.0-dev
</pre>

--lowqualityを指定しないと、章見出しがずれるのはなぜ?

目次のページ番号を入れるのは、非常に難しいので、あきらめる。

索引にページ番号を入れるのも非常に難しいので、あきらめる。章番号にする。

background-imageは勝手に枠を入れられてしまう。囲みのborder-radiusもかける。背景画像は使わないほうがよいのか。

display:flexは使えない。widthにculcは使えない。

画像に設定した、ボーダーがうまく表示されない。枠囲みは、画像ソフトでやる必要がある。

ソースコードの横の文字数は、50字と少ししか使えないから工夫する
