<h2>Perlテキスト処理プログラミング入門</h2>

<table>
  <tr><td><a href="top.html">見開き</a></td><td><a href="top.pdf">見開きPDF</a></td></tr>
  <tr><td><a href="beginning.html">Perlでテキスト処理プログラミングを始めよう</a></td><td><a href="beginning.pdf">はじめにPDF</a></td></tr>
  <tr><td><a href="toc.html">目次</a></td><td><a href="toc.pdf">目次PDF</a></td></tr>
  <tr><td><a href="chapter01_title.html">第１章 扉</a><br><a href="chapter01.html">第１章 Perlのインストール</a></td><td><a href="chapter01_title.pdf">扉PDF</a><br><a href="chapter01.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter02_title.html">第２章 扉</a><br><a href="chapter02.html">第２章 Perlの基本文法</a></td><td><a href="chapter02_title.pdf">扉PDF</a><br><a href="chapter02.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter03_title.html">第３章 扉</a><br><a href="chapter03.html">第３章 文字列処理</a></td><td><a href="chapter03_title.pdf">扉PDF</a><br><a href="chapter03.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter04_title.html">第４章 扉</a><br><a href="chapter04.html">第４章 配列</a></td><td><a href="chapter04_title.pdf">扉PDF</a><br><a href="chapter04.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter05_title.html">第５章 扉</a><br><a href="chapter05.html">第５章 ハッシュ</a></td><td><a href="chapter05_title.pdf">扉PDF</a><br><a href="chapter05.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter06_title.html">第６章 扉</a><br><a href="chapter06.html">第６章 if文を使った条件分岐</a></td><td><a href="chapter06_title.pdf">扉PDF</a><br><a href="chapter06.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter07_title.html">第７章 扉</a><br><a href="chapter07.html">第７章 for/while文を使った繰り返し</a></td><td><a href="chapter07_title.pdf">扉PDF</a><br><a href="chapter07.pdf">本文PDF</a> </td></tr>
  
  <tr><td><a href="chapter08_title.html">第８章 扉</a><br><a href="chapter08.html">第８章 ファイル入出力</a></td><td><a href="chapter08_title.pdf">扉PDF</a><br><a href="chapter08.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter09_title.html">第９章 扉</a><br><a href="chapter09.html">第９章 Perlにおける日本語の扱い</a></td><td><a href="chapter09_title.pdf">扉PDF</a><br><a href="chapter09.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter10_title.html">第１０章 扉</a><br><a href="chapter10.html">第１０章 ファイルとディレクトリ操作</a></td><td><a href="chapter10_title.pdf">扉PDF</a><br><a href="chapter10.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter11_title.html">第１１章 扉</a><br><a href="chapter11.html">第１１章 正規表現でテキストの検索と置換を行う</a></td><td><a href="chapter11_title.pdf">扉PDF</a><br><a href="chapter11.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter12_title.html">第１２章 扉</a><br><a href="chapter12.html">第１２章 PerlワンライナーとUnix/Linuxコマンドの組み合わせ</a></td><td><a href="chapter12_title.pdf">扉PDF</a><br><a href="chapter12.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter13_title.html">第１３章 扉</a><br><a href="chapter13.html">第１３章 複雑なデータ構造</a></td><td><a href="chapter13_title.pdf">扉PDF</a><br><a href="chapter13.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter14_title.html">第１４章 扉</a><br><a href="chapter14.html">第１４章 日付と時刻の扱い</a></td><td><a href="chapter14_title.pdf">扉PDF</a><br><a href="chapter14.pdf">本文PDF</a> </td></tr>
  <tr><td><a href="chapter15_title.html">第１５章 扉</a><br><a href="chapter15.html">第１５章 Perlテキスト処理演習</a></td><td><a href="chapter15_title.pdf">扉PDF</a><br><a href="chapter15.pdf">本文PDF</a> </td></tr>
  <tr><td></td><td><a href="chapters.pdf">本文全体のPDF</a></td></tr>
  <tr><td></td><td><a href="book.pdf">書籍全体のPDF</a></td></tr>
</table>

<h3>執筆情報</h3>

124ページが最大。これに合わせないとデザインが大変だ...。

<a href="https://raksul.com/booklet/a5musen/ondemand_left-bind_124page_cover-coat_cover-thick_cover-4c4c_cover-pp-none_coat_standard_1c1c/">ラクスル料金表</a>

30部 本文普通紙両面モノクロ

15021円

単価 500.7円

一番上のmargin-topは効かない。

wkhtmltopdfはインストールが難しい

SSLのエラーを回避するには以下が必要

<pre>
sudo apt install libssl1.0-dev
</pre>

--lowqualityを指定しないと、章見出しがずれるのはなぜ?

目次のページ番号を入れるのは、非常に難しいので、あきらめる。

索引にページ番号を入れるのも非常に難しいので、あきらめる。章番号にする。

background-imageは勝手に枠を入れられてしまう。囲みのborder-radiusもかける。背景画像は使わないほうがよいのか。

display:flexは使えない。widthにculcは使えない。

画像に設定した、ボーダーがうまく表示されない。枠が込みは、画像ソフトでやる必要がある。

