<h2>Perlテキスト処理プログラミング入門</h2>

<ul>
  <li><a href="top.html">見開き</a> <a href="top.pdf">PDF</a></li>
  <li><a href="beginning.html">はじめに</a> <a href="beginning.pdf">PDF</a></li>
  <li><a href="toc.html">目次</a> <a href="toc.pdf">PDF</a></li>
  <li><a href="chapter1.html">Perlでテキスト処理プログラミングを始めよう</a> <a href="chapter1.pdf">PDF</a></li>
</ul>

<h3>執筆情報</h3>

124ページが最大。これに合わせないとデザインが大変だ...。

<a href="https://raksul.com/booklet/a5musen/ondemand_left-bind_124page_cover-coat_cover-thick_cover-4c4c_cover-pp-none_coat_standard_1c1c/">ラクスル料金表</a>

30部 本文普通紙両面モノクロ

15021円

単価 500.7円

一番上のmargin-topは効かない。
