<div class="toc">
<h2>目次</h2>
<div class="toc_h1">第１章 Perlのインストール</div>
<div class="toc_h2">1.1 WindowsへのPerlのインストール</div>
<div class="toc_h3">1.1.1 Strawberry PerlのWebサイト</div>
<div class="toc_h3">1.1.2 Strawberry Perlの特徴</div>
<div class="toc_h3">1.1.3 Strawberry Perlのダウンロード</div>
<div class="toc_h3">1.1.4 Strawberry Perlのインストール</div>
<div class="toc_h3">1.1.5 Perlがインストールされていることの確認</div>
<div class="toc_h3">1.1.6 Windowsへのその他のPerlのインストール方法</div>
<div class="toc_h2">1.2 コマンドプロンプトでPerlを実行する</div>
<div class="toc_h3">1.2.1 コマンドプロンプトを実行するには</div>
<div class="toc_h3">1.2.2 拡張子を表示する</div>
<div class="toc_h3">1.2.3 Perlプログラムを作成する</div>
<div class="toc_h3">1.2.4 Perlプログラムを実行する</div>
<div class="toc_h3">1.2.5 ファイル一覧を表示する - dirコマンド</div>
<div class="toc_h3">1.2.6 作業ディレクトリを変更する - cdコマンド</div>
<div class="toc_h3">1.2.7 ドライブを変更する</div>
<div class="toc_h3">1.2.8 コマンド履歴を参照する</div>
<div class="toc_h3">1.2.9 補足:コマンドプロンプトとPowerShellの違い</div>
<div class="toc_h2">1.3 macOSへのPerlのインストール</div>
<div class="toc_h3">1.3.1 Perlプログラムの実行</div>
<div class="toc_h3">1.3.2 macOSでのその他のPerlのインストール方法</div>
<div class="toc_h2">1.4 Unix/LinuxへのPerlのインストール</div>
<div class="toc_h3">1.4.1 Perlプログラムの実行</div>
<div class="toc_h3">1.4.2 Unix/Linuxでのその他のPerlのインストール方法</div>
<div class="toc_h2">1.5 覚えておきたいシェルコマンド</div>
<div class="toc_h3">1.5.1 ファイル一覧を表示する - lsコマンド</div>
<div class="toc_h3">1.5.2 作業ディレクトリを変更する - cdコマンド</div>
<div class="toc_h2">1.6 この章に関する目標</div>
<div class="toc_h1">第２章 日本語CSVファイル処理</div>
<div class="toc_h2">2.1 Perlの基本文法の解説について</div>
<div class="toc_h3">2.1.1 基本的な文法をプログラムで実行しよう</div>
<div class="toc_h3">2.1.2 日本語のCSVファイルをファイル入出力するプログラムのサンプル</div>
<div class="toc_h2">2.2 画面に文字列を表示する</div>
<div class="toc_h2">2.3 Perlの文法だけをチェックする</div>
<div class="toc_h2">2.4 改行する</div>
<div class="toc_h2">2.5 コメント</div>
<div class="toc_h2">2.6 複数行コメント</div>
<div class="toc_h2">2.7 Perlのお約束</div>
<div class="toc_h2">2.8 変数宣言</div>
<div class="toc_h3">2.8.1 変数宣言の方法</div>
<div class="toc_h3">2.8.2 有効な変数名</div>
<div class="toc_h3">2.8.3 推奨される変数名</div>
<div class="toc_h3">2.8.4 変数の初期化を宣言と同時に行う</div>
<div class="toc_h2">2.9 数値</div>
<div class="toc_h3">2.9.1 数値リテラル</div>
<div class="toc_h3">2.9.2 数値の計算</div>
<div class="toc_h3">2.9.3 演算子の優先順位</div>
<div class="toc_h3">2.9.4 数値計算の結果を変数に保存する</div>
<div class="toc_h2">2.10 文字列</div>
<div class="toc_h3">2.10.1 文字列の表現</div>
<div class="toc_h3">2.10.2 シングルクォート文字列</div>
<div class="toc_h3">2.10.3 ダブルクォート文字列</div>
<div class="toc_h3">2.10.4 文字列の連結</div>
<div class="toc_h3">2.10.5 文字列の詳細</div>
<div class="toc_h2">2.11 配列</div>
<div class="toc_h3">2.11.1 配列とは</div>
<div class="toc_h3">2.11.2 配列の要素の取得と設定</div>
<div class="toc_h3">2.11.3 配列の要素の画面への出力</div>
<div class="toc_h3">2.11.4 配列の詳細</div>
<div class="toc_h2">2.12 ハッシュ</div>
<div class="toc_h3">2.12.1 ハッシュとは</div>
<div class="toc_h3">2.12.2 ハッシュの宣言</div>
<div class="toc_h3">2.12.3 ハッシュへの代入</div>
<div class="toc_h3">2.12.4 ハッシュの要素の参照と代入</div>
<div class="toc_h3">2.12.5 ハッシュの詳細</div>
<div class="toc_h2">2.13 条件分岐</div>
<div class="toc_h3">2.13.1 if文を使った条件分岐のサンプル1 - 本の価格が1000円以下だったら</div>
<div class="toc_h3">2.13.2 if文を使った条件分岐のサンプル2 - 本の名前にPerlを含んでいたら</div>
<div class="toc_h3">2.13.3 if文を使った条件分岐のサンプル3 - 著者名に木本を含んでいたら</div>
<div class="toc_h2">2.14 繰り返し</div>
<div class="toc_h3">2.14.1 for文とwhile文</div>
<div class="toc_h3">2.14.2 while文を使った繰り返しのサンプル</div>
<div class="toc_h3">2.14.3 繰り返しの詳細</div>
<div class="toc_h2">2.15 Perl標準関数</div>
<div class="toc_h3">2.15.1 chomp関数 - 改行を削除する</div>
<div class="toc_h3">2.15.2 split関数 - 区切り文字を指定して配列に変換する</div>
<div class="toc_h3">2.15.3 join関数 - 区切り文字で連結された文字列を取得</div>
<div class="toc_h2">2.16 日本語処理</div>
<div class="toc_h3">2.16.1 「use utf8;」を書いて、ソースコードはUTF-8で保存</div>
<div class="toc_h3">2.16.2 Encodeモジュールのencode関数とdecode関数をインポート</div>
<div class="toc_h3">2.16.3 ファイルから入力するときはdecode</div>
<div class="toc_h3">2.16.4 ファイルへ出力するときはencode</div>
<div class="toc_h2">2.17 ファイル入出力</div>
<div class="toc_h3">2.17.1 リダイレクトを使ったファイルへの出力</div>
<div class="toc_h3">2.17.2 ダイヤモンド演算子を使ったファイルからの入力</div>
<div class="toc_h1">第３章 正規表現で検索して データを取り出そう</div>
<div class="toc_h2">3.1 正規表現で検索してデータを取り出すサンプル</div>
<div class="toc_h2">3.2 検索条件を指定してみよう</div>
<div class="toc_h3">3.2.1 書名にPerlが含まれている</div>
<div class="toc_h3">3.2.2 書名がPerlで始まる</div>
<div class="toc_h3">3.2.3 書名がPerlで終わる</div>
<div class="toc_h3">3.2.4 Perlの大文字と小文字を区別せずに検索</div>
<div class="toc_h3">3.2.5 書名にPerlまたはWebを含む</div>
<div class="toc_h3">3.2.6 書名が「Web(間はなんでもよい一文字以上)Perl」を含む</div>
<div class="toc_h3">3.2.7 価格が1000円以上、2000円より小さい</div>
<div class="toc_h3">3.2.8 2018年から2019年の間に発売された</div>
<div class="toc_h1">第４章 正規表現の 検索・置換を HTMLで実践</div>
<div class="toc_h2">4.1 正規表現の検索・置換をHTMLで実践</div>
<div class="toc_h3">4.1.1 見出しのテキストを取得する</div>
<div class="toc_h3">4.1.2 見出しのテキストを取得する - 最短マッチ</div>
<div class="toc_h3">4.1.3 HTMLからタグを削除する</div>
<div class="toc_h3">4.1.4 前後の空白文字を取り除く</div>
<div class="toc_h3">4.1.5 pタグで作られた複数行の段落から本文だけを取り出す</div>
<div class="toc_h2">4.2 HTMLファイルを処理する</div>
<div class="toc_h3">4.2.1 HTMLファイルを読み込む</div>
<div class="toc_h3">4.2.2 すべてのバナナをリンゴに置換する</div>
<div class="toc_h3">4.2.3 青リンゴ、赤リンゴ、黄リンゴの数を数える</div>
<div class="toc_h3">4.2.4 全角数字を半角数字に変換する</div>
<div class="toc_h3">4.2.5 小文字の単語に大文字の単語に変換する</div>
<div class="toc_h3">4.2.6 すべての外部URLを取り出す</div>
<div class="toc_h2">4.3 この章の解説の補足</div>
<div class="toc_h3">4.3.1 ファイル全部を読み込むより簡単な方法</div>
<div class="toc_h1">第５章 多次元データ構造とJSONデータ入出力</div>
<div class="toc_h2">5.1 JSONデータを入出力するサンプル</div>
<div class="toc_h3">5.1.1 複数の書籍の情報を表現するJSONデータ</div>
<div class="toc_h3">5.1.2 JSONデータフォーマットの解説</div>
<div class="toc_h3">5.1.3 JSONデータを読み込んで、データを加工して、出力する</div>
<div class="toc_h2">5.2 JSONを読み込むソースコードの解説</div>
<div class="toc_h3">5.2.1 JSON::PPモジュールの読み込みと関数のインポート</div>
<div class="toc_h3">5.2.2 JSONデータをファイルから読み込みPerlのデータ構造に変換する</div>
<div class="toc_h2">5.3 リファレンスを理解しよう</div>
<div class="toc_h3">5.3.1 リファレンスとは</div>
<div class="toc_h3">5.3.2 配列リファレンスの作成</div>
<div class="toc_h3">5.3.3 配列リファレンスを簡単に作成する</div>
</div>
