<div class="toc">
<h2>目次</h2>
<div class="toc_h1">第１章 Perlのインストール</div>
<div class="toc_h2">1.1 WindowsへのPerlのインストール</div>
<div class="toc_h3">1.1.1 Strawberry PerlのWebサイト</div>
<div class="toc_h3">1.1.2 Strawberry Perlの特徴</div>
<div class="toc_h3">1.1.3 Strawberry Perlのダウンロード</div>
<div class="toc_h3">1.1.4 Strawberry Perlのインストール</div>
<div class="toc_h3">1.1.5 Perlがインストールされていることの確認</div>
<div class="toc_h3">1.1.6 Windowsへのその他のPerlのインストール方法</div>
<div class="toc_h2">1.2 コマンドプロンプトでPerlを実行する</div>
<div class="toc_h3">1.2.1 コマンドプロンプトを実行するには</div>
<div class="toc_h3">1.2.2 拡張子を表示する</div>
<div class="toc_h3">1.2.3 Perlプログラムを作成する</div>
<div class="toc_h3">1.2.4 Perlプログラムを実行する</div>
<div class="toc_h3">1.2.5 ファイル一覧を表示する - dirコマンド</div>
<div class="toc_h3">1.2.6 作業ディレクトリを変更する - cdコマンド</div>
<div class="toc_h3">1.2.7 ドライブを変更する</div>
<div class="toc_h3">1.2.8 コマンド履歴を参照する</div>
<div class="toc_h3">1.2.9 補足:コマンドプロンプトとPowerShellの違い</div>
<div class="toc_h2">1.3 macOSへのPerlのインストール</div>
<div class="toc_h3">1.3.1 Perlプログラムの実行</div>
<div class="toc_h3">1.3.2 macOSでのその他のPerlのインストール方法</div>
<div class="toc_h2">1.4 Unix/LinuxへのPerlのインストール</div>
<div class="toc_h3">1.4.1 Perlプログラムの実行</div>
<div class="toc_h3">1.4.2 Unix/Linuxでのその他のPerlのインストール方法</div>
<div class="toc_h2">1.5 覚えておきたいシェルコマンド</div>
<div class="toc_h3">1.5.1 ファイル一覧を表示する - lsコマンド</div>
<div class="toc_h3">1.5.2 作業ディレクトリを変更する - cdコマンド</div>
<div class="toc_h1">第２章 Perlの基本文法</div>
<div class="toc_h1">第３章 文字列処理</div>
<div class="toc_h1">第４章 ファイル入出力</div>
<div class="toc_h1">第５章 Perlにおける日本語の扱い</div>
<div class="toc_h1">第６章 ファイルとディレクトリ操作</div>
<div class="toc_h1">第７章 正規表現でテキストの検索と置換を行う</div>
<div class="toc_h1">第８章 PerlワンライナーとUnix/Linuxコマンドの組み合わせ</div>
<div class="toc_h1">第９章 複雑なデータ構造</div>
<div class="toc_h1">第１０章 日付と時刻の扱い</div>
<div class="toc_h1">第１１章 Perlテキスト処理演習</div>
</div>
