<h2>目次</h2>

<ul>
  <li>
    <div>第１章 Perlでテキスト処理プログラミングを始めよう</div>
    <ul>
      <li>テキスト処理プログラミングとは</li>
      <li>テキストファイルの読み込みと書き込み</li>
      <li>文字列の検索と置換</li>
      <li>Perlがテキスト処理が得意な理由</li>
      <li>正規表現とは</li>
      <li>日本語の扱い</li>
      <li>Perlを覚えるとどんな分野のITエンジニアになれますか?</li>
    </ul>
  </li>
  <li>
    <div>第２章 Perlのインストール</div>
    <ul>
      <li>WindowsへのPerlのインストール</li>
      <li>MacへのPerlのインストール</li>
      <li>Unix/LinuxへのPerlのインストール</li>
    </ul>
  </li>
  <li>
    <div>目標にできること</div>
    <ul>
      <li>C言語を覚えて組み込み向け開発者を目指す</li>
      <li>Webプログラミングを覚えてWebシステム開発者を目指す</li>
      <li>Unix/Linuxを覚えてUnix/Linuxサーバー管理者を目指す</li>
      <li>ビジネスデータを集計できる社内SEを目指す</li>
    </ul>
  </li>
  <li>
    <div>第３章 テキスト処理のためのPerlの基本文法</div>
    <ul>
      <li>print文</li>
      <li>Perlプログラムの実行</li>
      <li>コメント</li>
      <li>strictとwarnings</li>
      <li>変数</li>
      <li>数値</li>
      <li>文字列</li>
      <li>if文</li>
      <li>for文</li>
      <li>while文</li>
      <li>配列</li>
      <li>ハッシュ</li>
      <li>サブルーチン</li>
      <li>コマンドライン引数</li>
    </ul>
  </li>

  <li>
    <div>第３章 文字列処理を覚えよう</div>
    <ul>
      <li>文字列の結合</li>
      <li>文字列の長さ</li>
      <li>文字列の検索</li>
      <li>検索でマッチした文字列の取り出し</li>
      <li>検索でマッチした文字列の取り出し</li>
      <li>文字列の置換</li>
      <li>ファイルの文字列を読み込む</li>
      <li>ファイルの文字列を読み込む</li>
    </ul>
  </li>
  
  <li>
    <div>ファイル入出力</div>
    <ul>
      <li>CSVファイルの読み込み</li>
      <li>タブ区切りファイルの読み込み</li>
      <li>空白区切りファイルの読み込み</li>
      <li>Excelファイルの読み込み</li>
    </ul>
  </li>

  <li>
    <div>Perlにおける日本語の扱い</div>
    <ul>
      <li>Perlの日本語処理の仕組み</li>
      <li>utf8モジュール</li>
      <li>Encodeモジュール</li>
      <li>Unix/Linuxにおける日本語の扱い</li>
      <li>Windowsにおける日本語の扱い</li>
      <li>Macにおける日本語の扱い</li>
    </ul>
  </li>

  <li>
    <div>ファイルとディレクトリ操作</div>
    <ul>
      <li>glob関数</li>
      <li>ディレクトリの再帰的な読み込み</li>
    </ul>
  </li>
  <li>
    <div>Unix/LinuxコマンドとPerlの組み合わせ</div>
    <ul>
      <li>findとperlの組み合わせ</li>
      <li>grepとperlの組み合わせ</li>
      <li>xargsとperlの組み合わせ</li>
    </ul>
  </li>

  <li>
    <div>正規表現でテキストの検索と置換を行う</div>
    <ul>
      <li>3-1 print文</li>
      <li>3-2 Perlの実行</li>
      <li>3-3 コメント</li>
      <li>3-4 strictとwarnings</li>
    </ul>
  </li>
</ul>

<!--

取口さん

目次を書き出してみました。

1. Perlのインストール
  Linux
    VPS
    クラウドサーバー
  Windows
    Strawbery Perl
    Active Perl
    msys2
    WSL2
  macOS

2. 基本文法
  厳格な文法チェックと警告
  print文
  コメント
  変数
  文字列
  x数値
  if文 - 条件分岐
  for文による繰り返し
  while文による繰り返し
  配列
  ハッシュ
  サブルーチン
  スコープ
  コマンドライン引数
  その他よく使う文法

3. 文字列処理
  文字列の結合
  文字列の長さ
  文字列の検索
  検索でマッチした文字列の取り出し
  文字列の置換
  ファイルの文字列を読み込む
  改行の扱い

4. ファイル入出力
  ファイルの読み込み
  ファイルへの書き込み
  標準入力からの読み込み方法
  リダイレクトによるファイルの書き込み方法

5. ファイルとディレクトリ操作
  ファイルのコピーと移動
  簡易的なファイル一覧取得方法
  再帰的にファイルを取得する
  パーミッションの変更
  ファイル情報の取得

6. 正規表現
  文字列の検索 - パターンマッチ
  量指定子
  文字クラス
  正規表現のオプション
  文字列の置換
  検索・置換の繰り返し

7. 複雑なデータ構造
  リファレンス
  多次元データ構造とは
  ハッシュの配列
  配列の配列
  ハッシュのハッシュ
  配列のハッシュ
  2次元より大きいデータ構造

8. よく使う標準関数
  文字列
  正規表現
  配列操作
  ハッシュ操作
  サブルーチン
  ファイル入出力
  ファイル操作
  日付・時刻
  数学関数
  オブジェクト指向
  例外処理
  プロセス間通信
  バイナリ処理
  その他の関数
  
9. よく使う標準モジュール
  モジュールの使い方
  Getopt::Long	コマンドライン引数のオプションを処理する
  Cwd	カレントディレクトリのパスを取得する
  File::Basename	ファイルのベース名とディレクトリ名の取得
  File::Copy	ファイルの移動とコピー
  File::Path	複数階層のディレクトリの作成と削除
  File::Temp	一時ファイルの作成
  File::Find	ファイルの検索
  FindBin	スクリプトが存在するディレクトリのパスの取得
  Carp	モジュールの呼び出し元の観点で例外を発生させる
  lib	モジュールの検索パスの追加
  Time::Piece	日付・時刻を扱うための標準モジュール(v5.10からコアモジュール)
  Time::Local	localtime,gmtimeの逆返還
  base	クラスの継承
  Data::Dumper	変数の内容を出力する
  JSON::PP	JSONデータの解析
  MIME::Base64	Base64形式へのエンコード
  Digest::MD5	MD5値を求める
  Digest::SHA	各種SHA値を求める　(v5.10以降)
  Sys::Hostname	ホスト名の取得
  Net::FTP	FTPクライアント

10. よく使う特殊変数

  @ARGV - コマンドライン引数
  @_ - サブルーチンの引数
  $1, $2, $3;
  $_ - デフォルト変数
  %ENV - 環境変数の取得と設定
  $0 - プログラム名を取得する
  @INC - モジュールの検索パスのリスト
  %INC - 読み込まれているモジュールを調べる
  $^O - OS名を取得する
  $$ - プロセスID
  $^T - プロセスの開始時刻を取得する
  $? - 子プロセスの終了ステータス
  
11. 日本語の扱い
  正しく日本語を扱うには
  文字コード
  Encodeモジュール
  utf8プラグマ

12. 外部プログラムの呼び出し
  system関数
  バッククォート演算子
  パイプオープン

13. オブジェクト指向
  パッケージ宣言
  モジュールの読み込み
  オブジェクトの作成
  フィールドの初期化

14. デバッガ
  デバッガとは
  変数を表示する
  次の文に進む
  ブレークポイントの設定
  処理を最後まで進める
  ソースコードを表示

15. Perlワンライナー
  Unix/Linuxコマンドとの組み合わせ
  リダイレクトとパイプ
  ファイルを検索するワンライナー
  ファイルの文字列の置換を行うワンライナー
  
-->
